@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');
@import "tailwindcss";

@layer theme, base, components, utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  overflow-x: hidden;
}

@theme {
  --color-blue: #0E2954;
  --color-white: #EDF9FF;
  --color-red: #F53E3E;
  --color-yellow: #E6EF96;
  --color-black: #050506
  ;

}

@theme {
  --font-script: Outfit, cursive;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: 'Outfit', sans-serif;
}

h1 {
  @apply text-3xl font-bold px-3 text-blue relative;
}

h1::before {
  content: '';
  @apply absolute h-[19px] w-full px-20 bg-yellow/80 bottom-0 left-0 transform translate-y-1 -z-10;
}
h1.no-before::before {
  @apply content-none;
}

p {
  @apply text-base lg:text-lg text-black font-medium my-4 lg:pb-4
}

progress-bar {
  @apply relative h-5 w-80 border-2 border-solid border-amber-300
}

filler {
 @apply bg-yellow h-full text-inherit transition-all duration-200 ease-in w-0 hover:w-full
}



.swiper-wrapper {
  max-width: 100vw;
}

.swiper-slide {
  @apply !w-[330px] !max-w-full !pb-14
}

.swiper {
  width: 100%;
  height: 100%;
}

:root {
  --swiper-pagination-color: #E6EF96;
  --swiper-pagination-progressbar-bg-color: #EBEBED;
}

.swiper-horizontal > .swiper-pagination-progressbar {
 @apply  !top-auto  !right-36 !w-auto
}
@layer components {
  .h-services::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .h-services::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .h-services::-webkit-scrollbar-thumb {
    background-color: rgba(255, 110, 110, 0.25); 
    border-radius: 10px;
  }

  .h-services::-webkit-scrollbar-thumb:hover {
    background-color: #F53E3E;
  }
}
.image-loaded {
  opacity: 1;
  transition: opacity 0.3s ease;
}